<h1>Editing book</h1>
<%= render 'form' %>
<div class="btn-group inline pull-left">
  <%= link_to 'Show', @book, class: "btn btn-mini" %>
  |
  <%= link_to 'Back', books_path, class: "btn btn-mini" %>
</div>
